{% extends 'layout.html' %}

{% block main %}

<script src="js/examples/basic.js"></script>

<div style="position:absolute;top:10px;left:10px;">
  <div class="ui buttons">
    <button class="ui blue button" id="init">Init</button>
    <button class="ui blue button" id="xz">X-Z</button>
    <button class="ui blue button" id="x">X</button>
    <button class="ui blue button" id="y">Y</button>
    <button class="ui blue button" id="z">Z</button>
  </div>
</div>

<div id="viewport"></div>

{% endblock %}
