<!DOCTYPE html>
<html ng-app="app" ng-class="{ contentLoading: loading }">
  <meta charset="UTF-8">
  <head>
    <title>Vizq</title>
    <link rel="stylesheet" href="bower_components/semantic-ui/dist/semantic.css">
    <link rel="stylesheet" href="css/main.css">

  </head>
  <body>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/semantic-ui/dist/semantic.js"></script>
    <script src="bower_components/ace-builds/src/ace.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/three.js/build/three.js"></script>
    <script src="bower_components/three.js/examples/js/controls/OrbitControls.js"></script>
    <script src="bower_components/three.js/examples/js/controls/TransformControls.js"></script>
    <script src="bower_components/three.js/examples/js/renderers/Projector.js"></script>
    <script src="bower_components/three.js/examples/js/controls/DragControls.js"></script>
    <script src="bower_components/three.js/examples/js/libs/stats.min.js"></script>

    <script src="js/index.js"></script>

    {% block main %}{% endblock %}
  </body>

</html>


