<!DOCTYPE html>
<html ng-app="app" ng-class="{ contentLoading: loading }">
  <meta charset="UTF-8">
  <head>
    <title>Vizq</title>
    <link rel="stylesheet" href="bower_components/semantic-ui/dist/semantic.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="assets/favicon.ico">

  </head>
  <body>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/semantic-ui/dist/semantic.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/ace-builds/src/ace.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/FileSaver.js/FileSaver.js"></script>
    <script src="bower_components/mathjs/dist/math.js"></script>

    <script src="bower_components/numericjs/src/numeric.js"></script>

    <script src="bower_components/three.js/build/three.js"></script>
    <script src="bower_components/three.js/examples/js/controls/OrbitControls.js"></script>
    <script src="bower_components/three.js/examples/js/controls/TransformControls.js"></script>
    <script src="bower_components/three.js/examples/js/renderers/Projector.js"></script>
    <script src="bower_components/three.js/examples/js/controls/DragControls.js"></script>
    <script src="bower_components/three.js/examples/js/libs/stats.min.js"></script>
    <script src="bower_components/three.js/examples/js/loaders/STLLoader.js"></script>
    <script src="bower_components/three.js/examples/js/loaders/BinaryLoader.js"></script>
    <script src="bower_components/three.js/examples/js/loaders/OBJLoader.js"></script>
    <script src="bower_components/three.js/examples/js/exporters/STLExporter.js"></script>

    <!-- <script src="bower_components/cannon.js/build/cannon.js"></script> -->
    <script src="/js/cannon.js"></script>
    <script src="bower_components/cannon.js/libs/dat.gui.js"></script>
    <script src="bower_components/cannon.js/libs/TrackballControls.js"></script>
    <script src="bower_components/cannon.js/libs/Detector.js"></script>
    <script src="bower_components/cannon.js/libs/Stats.js"></script>
    <script src="bower_components/cannon.js/libs/smoothie.js"></script>

    <script src="bower_components/csg.js/csg.js"></script>
    <!-- <script src="bower_components/csg-wrapper/ThreeCSG.js"></script> -->
    <script src="bower_components/OpenJSCAD.org/csg.js"></script>
    <script src="js/modules/laplacian.js"></script>
    <script src="js/ThreeCSG.js"></script>

    <!-- <script src="bower_components/OpenJSCAD.org/openjscad.js"></script> -->
    {% block main %}{% endblock %}
  </body>

</html>


